{% extends 'main/base.html' %}
{% block title %}
Страница про нас
{% endblock %}

{% block content%}
<div class="shadow p-4 mb-5 bg-body rounded">
    <h1 class="text-center pb-4"> Мои данные </h1>
    <p>Ссылка на мой профиль Github: <a href="https://github.com/MycroftBrooks">https://github.com/MycroftBrooks</a></p>
    <p>Ссылка на репозиторий проекта: <a href="https://github.com/MycroftBrooks/Clothing_Store_Django">https://github.com/MycroftBrooks/Clothing_Store_Django</a> </p>
</div>
{% endblock %}
